%% -*- erlang -*-

{erl_opts, [debug_info, fail_on_warning]}.

{port_env, [
            %% Need OpenSSL
            {"DRV_LDFLAGS", "$DRV_LDFLAGS -lcrypto"},
            {"CFLAGS", "$CFLAGS -DHAVE_CONFIG_H"}
		   ]}.

{port_specs, [
              {"priv/scrypt.so", [
                                  "c_src/*.c", 
                                  "c_src/lib/*.c"
                                 ]}
             ]}.

{test_compile_opts, [{src_dirs, ["test"]}]}.
