%% -*- erlang -*-

{erl_opts, [debug_info, fail_on_warning]}.

{port_env, [
            {"CFLAGS", "$CFLAGS -DHAVE_CONFIG_H"},
            {"DRV_LDFLAGS", "$DRV_LDFLAGS -lcrypto"}
		   ]}.

{port_specs, [
              {"priv/scrypt_nif.so", ["c_src/*.c", "c_src/lib/*.c"]}
             ]}.

{test_compile_opts, [{src_dirs, ["test"]}]}.

%% Dynamically generate scrypt config
{pre_hooks, [{compile, "./c_src/config/scrypt_configure"}]}.
{post_hooks, [{compile, "./c_src/config/scrypt_configure_post"}]}.
